<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">

    <div *ngIf="settings.oneDevice" fxFlex="25" fxLayout="column" fxLayoutAlign="start center" style="margin-top: 5px;">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div *ngFor="let row of playerRows" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <button *ngFor="let player of row"
                        mat-flat-button
                        [color]="player === userId ? 'primary' : 'secondary'"
                        (click)="setCurrentUser(player)"
                        class="bottom-button">
                    {{ player }}
                </button>
            </div>
        </div>
    </div>

    <div [fxFlex]="settings.oneDevice ? '65' : '90'" fxLayout="column" fxLayoutAlign="center center">

        <div fxFlexFill *ngIf="isPhraseShowed" fxLayout="column">

            <div fxFlex="30" fxLayout="column" fxLayoutAlign="end center">
                <span class="phrase-title grey"> Hasło </span>
                <span class="phrase" *ngIf="!isUserSpy()"> {{ settings.phrase }} </span>
                <span class="phrase" *ngIf="isUserSpy()"> Szpieg </span>
            </div>

            <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
                <div *ngIf="settings.category" fxLayout="column" fxLayoutAlign="center center">
                    <span class="phrase-title grey"> Kategoria </span>
                    <span class="phrase"> {{ settings.category }} </span>
                </div>
            </div>

            <div fxFlex="20" fxLayout="column" fxLayoutAlign="start center">
                <span class="primary phrase" *ngIf="isUserStarting()"> Zaczynasz turę! </span>
            </div>

        </div>
    </div>
    
    <div fxFlex="10" fxFlexFill fxLayout="row" fxLayoutAlign="space-between center">
        <button class="fab" mat-fab color="secondary" (click)="back()">
          <mat-icon> close </mat-icon>
        </button>
        <button *ngIf="!isPhraseShowed"
            mat-flat-button 
            class="bottom-button" 
            color="primary" 
            (click)="show()"> Pokaż hasło </button>
        <button *ngIf="isPhraseShowed"
            mat-flat-button 
            class="bottom-button" 
            color="primary" 
            (click)="hide()"> Ukryj hasło </button>
        <button class="fab-right" mat-fab color="secondary" (click)="goToQuestions()">
          <mat-icon> question_mark </mat-icon>
        </button>
    </div>
</div>
