
.field {
    width: 100%;
}

mat-label {
    font-size: 18px;
}

.phrase {
    font-size: 20px;
    text-align: center;
}

.type-button {
  width: 100% !important;
  border-radius: 25px !important;
  margin-left: 10px;
}